body {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.form-control {
    color: #BDFEF2;
}

#wrapper {
    width: 100%;
    float: left;
}

header {
    width: 100%;
    padding: 15px 0px 0px;
    float: left;
    background: #212121;
}

.mobile-togle {
    display: none;
}

.text {
    color: #BDFEF2;
    font-size: 12px;
    font-style: italic;
    padding-left: 12px;
}

.logo img {
    border-right: 1px solid #BDFEF2;
    padding-right: 12px;
    width: 220px;
}

button {
    border: none;
    background: none;
}

.logo {
    margin: 30px 0px;
    padding: 0px;
}

.search {
    float: right;
}

.search1 i,
.search i {
    position: absolute;
    margin: 14px 12px;
    color: #BDFEF2;
    cursor: pointer;
}

.search1 input,
.search input {
    width: 228px;
    padding-left: 30px;
    background: transparent;
    border-radius: 40px;
}

nav.navbar {
    margin-left: 50px;
    border-radius: 0px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

button.navbar-toggler {
    display: none;
}

ul.navbar-nav {
    display: block;
    text-align: right;
}

.dvider {
    height: 90px;
    border: 1px solid #BDFEF2;
    margin: 0px 40px;
    display: inline-block;
}

.sign a {
    color: #BDFEF2;
    cursor: pointer;
}

.sign a:hover {
    color: #fff;
    text-decoration: none;
}

.sign img {
    display: block;
}

.sign {
    float: right;
    margin: 30px 0px;
}

.navbar-nav>li {
    display: inline-block;
}

.navbar-nav>li a {
    color: #BDFEF2 !important;
    text-decoration: none;
    display: block;
    padding: 15px 13px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.navbar-nav>li a:hover {
    color: #528C81;
}

.banner {
    clear: both;
    position: relative;
}

.banner img {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.text-center .btn {
    text-align: center;
    margin: 10px 0px;
    background-color: #51B5B1;
    border-radius: 40px;
    padding: 10px 40px;
}

footer {
    background-color: #F2F2F2;
    position: relative;
    height: auto;
    max-height: 100%;
    min-width: 320px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .banner img {
        display: none;
    }
    .banner {
        background: url("../images/hero.png");
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .navbar-toggle {
        position: relative;
        margin-top: -51px;
        border: 0px;
        right: 0px;
    }
    .navbar-brand {
        height: 27px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background: transparent !important;
        border: 0px;
    }
    .search1 i {
        position: relative;
        left: 38px;
    }
}